<div style="float:right; width:250px; margin:0px 0px 2em 2em">
  <p class="big-title">Our Goal</p>
  <div style="background-color:#999; width:200px; height:350px; text-align:center; vertical-align:middle; margin:2em auto .75em; padding:1em; border-radius:2em;">Fund raiser progress-bar/gage for displaying the Virtual Walk's progress.</div>
  <p style="text-align:center;">We are ##% of the way to our goal.</p>
</div>
<p class="page-title caps">Virtual Walk</p>
<p>Jameson Camp is excited to hold it's first ever virtual walk.  This is a great opportunity to promote activity and activism at the same time, and with the Virtual Walk app it's simple and easy to do.  Create teams, set goals, and help a good cause all at the same time.</p>

<p class="big-title">How It Works</p>
<p>The Jameson Camp Virtual Walk is a fundraising event that follows your schedule.
  <ol>
    <li>You can choose to particpate by yourself or as part of a team.</li>
    <li>Set a goal, an amount of money you or your team aims to raise.</li>
    <li>Tell your friends.  Gather pledges.  Raise awareness of our great cause.</li>
    <li>Pledges are based on milage but you can earn them at your pace.  Find time to go for a walk or run.  Every little bit adds to your goal.
      <ul style="list-style-type:disc;">
        <li>Log your activity online and track your progress as you step toward your goal.</li>
        <p style="margin:.75em 0px;">&mdash;OR&mdash;</p>
        <li>Let your smartphone do all the work. Open your app and track your progress with GPS.</li>
      </ul></li>
    <li>Share your progress on social media and let your friends know how you're helping Indiana's youth.</li>
  </ol>
</p>

<button style="text-align:center;">Get Started &gt;</button>