/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
  body, document, html {margin:0; padding:0;}
  div {display:block; position:relative; margin:0; padding:0; overflow:hidden;}
  td,p,img {vertical-align:top;}
  a.bareLink, a.bareLink:visited {color:inherit !important; text-decoration:inherit !important;}
  a:hover, a.bareLink:hover {background-color:inherit !important; color:#7BF !important;}
  a.bareHover:hover, a.bareHover:active {color:inherit !important; text-decoration:inherit !important;}
  small{font-size: smaller;}
  
  .right {float:right !important; margin-left:1em;}
  .left {float:left !important; margin-right:1em;}
  .no-margin {margin:0px !important;}
  .quarter-top {margin-top:.25em !important;}
  
  .error {font-weight:bold; color:#FF0000;}
  .notice {font-weight:bold; color:#008000;}
  
  .subitem {color:#999; font-style:italic;}
  .paragraph-title {display: block; font-size: 1.17em; margin:1em 0 0 0; -webkit-margin-start: 0px; -webkit-margin-end: 0px; font-weight: bold; text-decoration:underline;}
  .first-paragraph {margin-top:.5em;}
  
  .menu-pill {margin:0 auto;}
  .menu-home {float: left; padding-top:.4em; margin-left:2em;}
  body {background: url("background.jpg") 0 0 repeat-x;}
  #pageHolder {width:800px; margin:0 auto; border:1px solid #999; box-shadow: 0 0 18px #999;}
  #masthead {width:100%; min-height:7em; background-color:#BBB; padding:0; color:#FFF; text-align:left; opacity:0.9; filter:alpha(opacity=90); /* For IE8 and earlier */}
  #org_logo {float:left; position:relative; width:114px; height:134px; border:0; margin:8px 20px 8px 20px;}
  #org_logo>a, #org_logo>a>img {border:0;}
  #masthead h1 {vertical-align: middle; font-family: Papyrus, fantasy; font-size:60px; line-height:140px; text-shadow:.08em .08em 2px #999; margin:0; padding:0;}
  #menu {width:100%; height:2em; background-color:#DEF;border-top:1px solid #ABC; border-bottom:1px solid #ABC; padding:0;}
  #menu li {display:inline-block;position:relative; list-style:none; margin:0px .25em; border-left:1px solid #ABC; border-right:1px solid #ABC; height:2em; line-height:2em; padding:0 .5em;}
  #menu li:hover {background-color:#9AB; color:#FFF;}
  #menu li a {height:2em; line-height:2em; width:100%;}
  #menu li a:hover, #menu li:hover a {background-color:inherit; color:#FFF;}
  #menu #login, #menu #register, #menu #logout {float:right;}
  
  #contents {width:auto; height:auto; min-height:30em; background-color:#FFF; padding:1.5em 1.5em 150px 1.5em;}
  /*#footer {width:100%; height:3.5em; background-color:#BBB; padding:1.5em 5em;}*/
  #footer {position: fixed; bottom: 0; clear: both; width: 100%; z-index: 100; height: 104px;}
  #footer #bg {background: url("grass.png") 0 0 repeat-x; width: 100%; min-width: 100%; height: 104px; position: absolute; top: 0; left: 0;}
  #footer_content {width:1100px; margin:0 auto; position:relative; overflow:visible; bottom:0; height:104px; text-align:center;}
  #footer_content>div {bottom:3px; position:absolute; height:1.2em; width:100%; vertical-align:baseline; z-index:100; color:#CCC;}
    
  .tdID {border-right:1px solid #BBB;  max-width:3em;}
  td.tdID {padding-right:1em; text-align:right;}
  .tdLabel {padding-left:1em;}
  td.tdLabel {text-align:left; }
  .itemizedList {position:relative; float:right; margin:1em 0px 2.5em 2.25em; padding:0px; max-width:45%; min-width:25%; border:1px solid #ABC;}
  .itemizedList h1 {display:block; margin:0px; padding:0px; font-size:1.36em; width:100%; text-align:center; vertical-align:middle; height:2em; line-height:2em; font-weight:bold; text-decoration:underline; background-color:#ABC; color:#000;}
  .itemizedList li {display:block; margin:0px; padding:0px .75em; font-size:1em; line-height:2em; height:2em; vertical-align:middle; text-align:left; background-color:#FFF;}
  .itemizedList li:nth-child(odd) {background-color:#EEE;}
  .itemizedList li:last-child{border-bottom:.25em solid #ABC;}
  .itemizedList li:hover {background-color:#BBB;}
  .itemizedList li a:hover {background-color:inherit;}
  
  /*-- For use in object tables -- */ 
  .object-list td {padding:0px 1em;}
  .object-list tr.no-padding>td {padding:0px;}
  .object-list tr td:last-child {padding-left:15px; width:90px;}
  .object-list tr td.object-list-subitem {padding:0 0 1em 1em;}
  .object-list tr td.object-list-subitem p{font-size:.85em; font-style:italic; margin:0; background-color:#EFE; padding-left:.15em;}
  #contents>h1:first-of-type	 {margin-top:.15em;}
  .event-Title {border-bottom:1px solid #999; vertical-align:top; padding-top:1em !important;}
  .event-Title h3 {margin: 0px 1em 0px 0px;}
  .eventDiv {}
  .eventHeader {border-bottom:1px solid #999; vertical-align:bottom; padding-top:1em !important; margin-bottom:.25em;}
  .eventTitle {float:left;}
  .eventTitle h3 {margin: 0px 1em 0px 0px; display:inline;}
  .eventRegHolder {float:right;}
  .eventRegHolder .regExpired {margin:0; color:#FFF; background-color:#999; font-size:.85em; font-weight:bold;}
  .eventRegHolder .regRegistered {margin:0; color:#fff; background-color:#228822; font-size:.85em; font-weight:bold;}
  .eventRegHolder .btn {margin-bottom:.25em;}
  .eventContent {background-color:#eee; padding:0 .75em;}
  .eventSponsor, .eventGoal {font-weight:700; color:#555;}
  .eventSponsor {color:#777;}
  .eventDescription {color:#000;}

  
  .iconHolder {background-color:#CCC; border-radius:.75em; padding:.05em .75em; margin:0;}
  
  [class^="icon-"], [class*=" icon-"] {
    margin-left:2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }
  [class^="icon-"]:hover, [class*=" icon-"]:hover {background-image: url("glyphicons-halflings-white.png");}
  .icon-none {background-image:none !important;}
  .icon-update {background-position: -360px -144px; /*background-position: 0 -72px;*/}
  .icon-show {background-position: -336px 0;}
  .icon-delete {background-position: -456px 0;}
  .icon-list {background-position: -360px -48px; /*background-position: -264px  0*/}
  .icon-home {background-position: 0 -24px;}
  .icon-user {background-position: -168px 0;}
  .icon-new {background-position: -408px -96px; background-image: url("glyphicons-halflings-white.png");}
  .icon-checked {background-position: -288px 0;}
  .icon-lock {background-position: -288px -24px;}
  .icon-time {background-position: -48px -24px;}
  .icon-checked:hover, .icon-lock:hover {background-image:url("glyphicons-halflings.png");}
  .icon-none:hover {background-position: -288px 0; background-image: url("glyphicons-halflings-white.png") !important;}


  [class$="Btn"], [class*="Btn "] {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }
  [class$="Btn"]:hover, [class*="Btn "]:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
  .btn {display: inline-block; text-decoration:none !important;  padding: .25em 1em;  margin-bottom: 0;  font-size: 1em;  line-height: 1.75em;  color: #333333;  text-align: center;  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);  vertical-align: middle;  cursor: pointer;  background-color: #f5f5f5;  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);  background-repeat: repeat-x;  border: 1px solid #cccccc;  border-color: #e6e6e6 #e6e6e6 #bfbfbf;  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  border-bottom-color: #b3b3b3;  -webkit-border-radius: 4px;  -moz-border-radius: 4px;  border-radius: 4px;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
  .btn-mini {padding: 0 .5em; font-size: 10.5px; -webkit-border-radius: .25em; -moz-border-radius: .25em; border-radius: .25em;}
  .btn-info {color: #ffffff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #49afcd; background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4)); background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4); background-image: -o-linear-gradient(top, #5bc0de, #2f96b4); background-image: linear-gradient(to bottom, #5bc0de, #2f96b4); background-repeat: repeat-x; border-color: #2f96b4 #2f96b4 #1f6377; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
  .btn:hover, .btn:focus {color: #333333; text-decoration: none !important; background-position: 0 -1.25em; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;}
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {color: #ffffff !important; background-color: #2f96b4 !important;}
  .newBtn {float:right; border-radius:.5em; background-color:#282; padding:.25em .5em; vertical-align:middle; line-height:1.25em; height:1.25em; font-weight:bold; text-decoration:none; color:#FFF;}
  .newBtn .icon-new {margin-right:.5em;}
  
  .page-title-holder {}
  .page-title {float:left}
  .page-title h1 {margin-top:0px; margin-right:.5em;}
  
  .small-img {max-height:1.5em;}
  
  .money-field{
    padding-left:2em;
    background-image: url("glyphicons_227_usd_15.png");
    background-position: .25em center;
    background-repeat: no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
  }
  
  .registerCheck {border:1px solid #999; border-radius: 5px; cursor:pointer;}
  .registerCheck:hover {background-color:#CCC;}
  
  .rollover-img {max-width:100px;}
  
  .money_fade{background: #007700; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #007700 0%, #009900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007700), color-stop(100%,#009900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #007700 0%,#009900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #007700 0%,#009900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #007700 0%,#009900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #007700 0%,#009900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007700', endColorstr='#009900',GradientType=0 ); /* IE6-8 */
}

  	.meter-desc {margin-top:0px;}
