/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
  body, document, html {margin:0; padding:0;}
  div {display:block; position:relative; margin:0; padding:0; overflow:hidden;}
  td,p,img {vertical-align:top;}
  a:hover {background-color:inherit !important;}
  
  .right {float:right !important; margin-left:1em;}
  .left {float:left !important; margin-right:1em;}
  
  .error {font-weight:bold; color:#FF0000;}
  .notice {font-weight:bold; color:#00FF00;}
  
  .menu-pill {margin:0 auto;}
  .menu-home {float: left; padding-top:.4em; margin-left:2em;}
  #pageHolder {width:800px; margin:0 auto; border:1px solid #999; box-shadow: 0 0 18px #999;}
  #masthead {width:100%; height:7em; background-color:#BBB; padding:1.5em 5em; color:#FFF; text-align:left;}
  #menu {width:100%; height:2em; background-color:#DEF;border-top:1px solid #ABC; border-bottom:1px solid #ABC; padding:0;}
  #menu li {display:inline-block;position:relative; list-style:none; margin:0px .25em; border-left:1px solid #ABC; border-right:1px solid #ABC; height:2em; line-height:2em; padding:0 .5em;}
  #menu li:hover {background-color:#9AB; color:#FFF;}
  #menu li a {height:2em; line-height:2em; width:100%;}
  #menu li a:hover, #menu li:hover a {background-color:inherit; color:#FFF;}
  #menu #login, #menu #register, #menu #logout {float:right;}
  
  #contents {width:auto; height:auto; min-height:30em; background-color:#FFF; padding:1.5em;}
  #footer {width:100%; height:3.5em; background-color:#BBB; padding:1.5em 5em;}
  .tdID {border-right:1px solid #BBB;  max-width:3em;}
  td.tdID {padding-right:1em; text-align:right;}
  .tdLabel {padding-left:1em;}
  td.tdLabel {text-align:left; }
  .itemizedList {position:relative; float:right; margin:1em 0px 2.5em 2.25em; padding:0px; max-width:45%; min-width:25%; border:1px solid #ABC;}
  .itemizedList h1 {display:block; margin:0px; padding:0px; font-size:1.36em; width:100%; text-align:center; vertical-align:middle; height:2em; line-height:2em; font-weight:bold; text-decoration:underline; background-color:#ABC; color:#000;}
  .itemizedList li {display:block; margin:0px; padding:0px .75em; font-size:1em; line-height:2em; height:2em; vertical-align:middle; text-align:left; background-color:#FFF;}
  .itemizedList li:nth-child(odd) {background-color:#EEE;}
  .itemizedList li:last-child{border-bottom:.25em solid #ABC;}
  .itemizedList li:hover {background-color:#BBB;}
  .itemizedList li a:hover {background-color:inherit;}
  .object-list td {padding:0px 1em;}
  .object-list tr td:last-child {width:90px;}
  #contents>h1:first-of-type	 {margin-top:.15em;}
  .eventTitle {border-bottom:1px solid #999; vertical-align:top; padding-top:1em !important;}
  .eventTitle h3 {margin: 0px 1em 0px 0px;}

  
  .iconHolder {background-color:#CCC; border-radius:.75em; padding:.25em .75em;}
  
  [class^="icon-"], [class*=" icon-"] {
    margin-left:2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
  }
  [class^="icon-"]:hover, [class*=" icon-"]:hover {background-image: url("glyphicons-halflings-white.png");}
  .icon-none {background-image:none !important;}
  .icon-update {background-position: -360px -144px; /*background-position: 0 -72px;*/}
  .icon-show {background-position: -336px 0;}
  .icon-delete {background-position: -456px 0;}
  .icon-list {background-position: -360px -48px; /*background-position: -264px  0*/}
  .icon-home {background-position: 0 -24px;}
  .icon-new {background-position: -408px -96px; background-image: url("glyphicons-halflings-white.png");}
  .icon-checked {background-position: -288px 0;}
  .icon-checked:hover {background-image:url("glyphicons-halflings.png");}
  .icon-none:hover {background-position: -288px 0; background-image: url("glyphicons-halflings-white.png") !important;}


  [class$="Btn"], [class*="Btn "] {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }
  [class$="Btn"]:hover, [class*="Btn "]:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
  .newBtn {float:right; border-radius:.5em; background-color:#282; padding:.25em .5em; vertical-align:middle; line-height:1.25em; height:1.25em; font-weight:bold; text-decoration:none; color:#FFF;}
  .newBtn .icon-new {margin-right:.5em;}
  
  .page-title-holder {}
  .page-title {float:left}
  .page-title h1 {margin-top:0px; margin-right:.5em;}
  
  .small-img {max-height:1.5em;}
  
  .money-field{
    padding-left:2em;
    background-image: url("glyphicons_227_usd_15.png");
    background-position: .25em center;
    background-repeat: no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
  }
  
  .registerCheck {border:1px solid #999; border-radius: 5px; cursor:pointer;}
  .registerCheck:hover {background-color:#CCC;}
